body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eb929e;
    font-family: 'Arial', sans-serif;
}
.button-container { /* Corrigido o typo "conteiner" para "container" */
    margin-bottom: 20px;
}
.btn {
    background-color: #ffffff;
    color: #e61010;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: #b30e0e;
    color: #ffffff;
}
.card {
    background-color: rgb(179, 14, 14);
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2);
    overflow: hidden;
    width: 450px; /* Increased width to fit larger image */
    text-align: center;
    padding: 90px; /* Adjusted padding */
}
.bears {
    position: relative;
    width: 300px; /* Increased width */
    height: 500px; /* Increased height */
    margin: 0 auto;
}
.bear {
    position: absolute;
    width: 300px; /* Increased width */
    height: 450px; /* Increased height */
    background: url('ursinhos-fofos-mordidas.gif') no-repeat center center;
    background-size: cover;
    animation: hug 2s infinite alternate;
}
.bear.left {
    left: 0;
}
.bear.right {
    right: 0;
    transform: scaleX(-1); /* Mirror the right bear */
}
@keyframes hug {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20px);
    }
}
.message {
    margin: 30px 0;
    font-size: 1.2em;
    color: #f3ecec;
}